parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	excludePaths:
		- ../../tests/FinalRequiredConstructorArgumentsException.php
		- ../../tests/RequiredConstructorArgumentsException.php
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Exception
